body {
  height: 100%;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  color: #4d5156;
  background-color: #fff;
  margin: 0;
}

a {
  text-decoration: none;
}


/* map */

.map {
  width: 100%;
  height: calc(100vh - 115px);
}


/* sidebar */

.sidebar {
  width: 100%;
}

.sidebar__title {
  font-size: 32px;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.risk__high {
  background-color: #ff4239;
}

.risk__medium {
  background-color: #ffa420;
}

.risk__low {
  background-color: #ffe08e;
}

.fa-stack { 
  font-size: 0.5em; 
}


/* box */

.box__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
  text-align: center;
  color: #222;
  display: block;
  padding: 10px;
}

.box__content {
  padding: 5px;
}

.box__list {
  list-style-type: none;
  padding-left: 0;
}

.box__list li {
  margin-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
}

.box__icons {
  display: inline-flex;
  justify-content: flex-end;
  flex: 0 0 55px;
  width: 55px;
  margin-right: 10px;
}

.box__icons .fas {
  margin-left: 2px;
}


/* footer */

.footer {
  font-size: 13px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
}


/* styles for desktop only */

@media only screen and (min-width: 768px) {
  .map {
    position: absolute;
    top: 20px;
    right: 20px;
    width: calc(100vw - 40px - 416px);
    height: calc(100vh - 40px);
  }
  
  .sidebar {
    position: absolute;
    top: 16px;
    left: 16px;
    width: 400px;
    height: calc(100vh - 40px);
    overflow: auto;
  }

  .sidebar__title {
    font-size: 32px;
    text-align: left;
    margin-top: 0;
  }

  .box__title {
    text-align: left;
  }

  .box__list li {
    padding-left: 0;
    padding-right: 0;
  }

  .footer {
    text-align: left;
    padding-left: 65px;
  }
}
