html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
#map {
  width: 600px;
  height: 700px;
}

h1 {
  font-size: 2em;
  text-align: center;
  text-transform: uppercase;
}

p {
  font-size: 1em;
}

.red {
  color: red;
}

.orange {
  color: orange;
}

.yellow {
  color: yellow;
}